.donate-main {
	background-image: url("../images/shelter-dogs.webp");
	background-size: cover;
	height: 720px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.donate-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	height: 400px;
	border: 2px var(--highlight) solid;
	color: var(--background);
	background-color: #0000006f;
	border-radius: 5px;
	box-shadow: 0 0 10px var(--highlight);
}

.donate-form h3 {
	color: var(--background);
	margin: 2rem;
}

#donation-amount {
	font-size: 1.3rem;
	color: var(--highlight);
	background-color: var(--background);
}

.donate-button {
	margin: 2rem;
	background-color: var(--background);
	font-size: 1.3rem;
	color: var(--highlight);
}

.donate-button:hover {
	color: var(--background);
	background-color: var(--highlight);
}
